.container{
    margin-bottom: 100px;
}
.sign-in-button{
    align-items: center;
    width: 104px;
    height: 43px;
    border-style: none;
    background: #21B573;
    border-radius: 33px;
}
.sign-in-text{
    color: white;
}
.img-1{
    width: 554px;
    height: 346px;
}
.text-1{
 
   

    color: #FD511A;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.text-2{
   
    

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
}
.text-3{
  
   

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}
.green-text{
    color: #21B573;
}

.sec-1{
    background-color: #F0FFF0;
}
.nav-link{
    color: black !important;
}
.img-2{
    width: 66px;
    height: 85px;
}
.img-3{
    width: 80px;
    height: 83px;
}
.img-4{
    width: 75px;
    height: 80px;
}
.img-5{
    width: 68px;
    height: 76px;
 }
.col-md-2{
    
    
    border-radius: 10px;
}
.sec-2{
    gap: 120px;
}
.box{
    padding: 25px;
    text-align: center;
    background-color: #F8FFFB;
    cursor: pointer;
}
.box h5{
    font-size: 24px;
    font-weight: 500;
}
.box p{
    font-weight: normal;
    font-size: 16px;
}
.box-2{
    background-color: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.txt-5{
    text-align: center;
    margin-bottom: 100px;
}
.p-2 img{
    width: 24px;
    height: 24px;
}
.card-footer{
    border-top: none !important;
    background-color: white !important;
}
.sec-3{
    border: none !important;
}
.card{
    border: none;
    border-radius: 18px !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.img-6{
    width: 120px;
    height: 120px;
}
.txt-6{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}
.sec-5{
    gap: 62px;
    
    color: white;
}
section{
    background-color: #282531;
   
    
}
footer{
    color: white;
    text-align: center;
}
